# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Data
data/raw/*.csv
data/processed/*.csv

# MLflow
mlruns/
mlflow.db

# Model artifacts
models/*.joblib
models/*.pkl

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/