# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
env/
venv/

# Data
data/raw/*.csv
data/processed/*.csv

# Models
models/*.pkl
models/*.h5
models/*.joblib

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints
*.ipynb

# OS
.DS_Store
Thumbs.db

# Environment variables
.env